* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body {
    min-width: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
    width: 100%;
    line-height: 120%;
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
    border: 0;
    color: white;
    background-color: #0a3085;
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
}

.container {
    width: 80%;
    margin: auto;
}

.subjectContainer {
    width: 100%;
}


.subject {
    background-color: #ffffff;
}

.subject .info .name {
    font-family: 'Roboto', sans-serif;
}

.subject .info .timecriteria {
    
}

.subject .lessonContainer {

}
