* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body {
    min-width: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    width: 100%;
    line-height: 120%;
    font-family: 'Anton', sans-serif;
}

.container {
    margin: auto;
    width: 80%;
    padding: 1.2rem
}

button {
    border: 0;
    color: white;
    background-color: #0a3085;
    border-radius: 100%;
    width: 1em;
    height: 1em;
}
